* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

nav {
    background-color: darkgreen;
    grid-row: 1 / 2;

    width: 100%;
    height: 150px;
}

#clock {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
}

#date {
    color: white;
    font-size: 30px;
    text-align: center;
}

#search-bar {
    text-align: center;
    margin-top: 10px;
}

#search-input {
    font-size: 20px;
    border-radius: 10px;
    padding: 1px 5px;
    margin-right: 5px;
}

#search-button {
    all: unset;
    font-size: 20px;
    cursor: pointer;
    background-color: wheat;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 5px;
}

#content {
    background-color: lightgreen;
    grid-row: 2;

    width: 60%;
    justify-self: center;
}

#current-location {
    text-align: center;
    font-size: 40px;
    margin: 30px 0px;
}

#weather-container {
    border-radius: 25px;
}

#weather-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    height: 35vh;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.18);

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#current-temp {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    text-align: center;
    justify-content: center;
    align-content: center;

    font-size: 75px;
}

#max-temp {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#min-temp {
    grid-row: 3 / 4;
    grid-column: 2 / 3; 
}

#max-temp, #min-temp {
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 40px;
}

#current-desc {
    grid-row: 1 / 2;
    font-size: 40px;
    margin-top: 20px;
}

#current-desc-2{
    grid-row: 2 / 3;
    font-size: 25px;
}

#current-desc, #current-desc-2{
    grid-column: 3 / 5;
    text-align: end;
    justify-content: center;
    align-content: center;
    margin-right: 20px;
}

#precip {
    grid-column: 3 / 4;
}

#wind-weather {
    grid-column: 4 / 5;
}

#precip, #wind-weather{
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}

#weather-forecast{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day-forecast{
    grid-column: span 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    box-shadow: 0 0 5px black;
    border-radius: 5px;

    padding: 10px 10px;
    margin: 25px 10px;

    border: 1px solid rgba(255,255,255,0.18);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.day-forecast-dayname {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.day-forecast-weather {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    text-align: center;
    margin: 10px 0px;
}

.day-forecast-tempmax {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.day-forecast-tempmin {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.today-cloudy {
    background-image: url("https://img.freepik.com/free-vector/blue-sky-clouds-background-with-text-space_1017-26306.jpg?t=st=1742877600~exp=1742881200~hmac=9d5e221c347b588e8f1b55529c0eeca886e5bc4b1a0e59da04f64f97e9394137&w=996");
    background-repeat: no-repeat;
    background-size: cover;
}
