* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

nav {
    background-color: darkgreen;
    grid-row: 1 / 2;

    width: 100%;
    height: 150px;
}

#clock {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
}

#date {
    color: white;
    font-size: 30px;
    text-align: center;
}

#content {
    background-color: lightgreen;
    grid-row: 2;

    width: 60%;
    justify-self: center;
}

#weather-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    height: 35vh;
    background-color: rgba(0,0,0,.2);
    border-radius: 25px;
}

#current-temp {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    text-align: center;
    justify-content: center;
    align-content: center;

    font-size: 75px;
}

#max-temp {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#min-temp {
    grid-row: 3 / 4;
    grid-column: 2 / 3; 
}

#max-temp, #min-temp {
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 40px;
}

